

.imgBrand{
    width: 5em;
}

.navbar{
    background-color: rgb(33, 131, 128);
}

.social{
    width: 2em;
}
.main{
    min-height: 100%
}
.carru{
    
    width: 100%;
    height: 30vh;
    object-fit: cover;
}
.textImg{
    position: absolute;
    
    color: rgb(143, 45, 86);
}
body{
    background-color: rgb(115, 210, 222);
}
.textCard{
    font-size: 1.5em;
}
.cardImg{
    height: 10em;
}
.details{
    
    margin-top: 2em;
}
.detailsImg{
    width: 25vw;
}
table{
    border-collapse: collapse;
}
th, td {
    height: 3em;
    border: 1px solid black; 
    text-align: center; 
}

.card{
    width: 18rem;
}